# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19mVjBXNnBNdkJCM1R4eGZJX241T3oiLCJhcGlfa2V5IjoiMDFLM0IwNlBNWjcxTks4NEFYNENLSE5UTUIiLCJ0ZW5hbnRfaWQiOiI1NWMzZDI4NzYxYzBjOGUwOTljY2Y4OTdjM2Q5MTMzNzkyOWUxYzIxNTlkZjgyMGUzOWU4MzBhYzNhMDEyNzEyIiwiaW50ZXJuYWxfc2VjcmV0IjoiMTcwMzY5NzgtZTgwOS00OTM0LWJhOTAtN2ZhMTkxOGU5ZjVmIn0.UBEfZLWZ68Bo9asajz-ChvbPkflVLYnNnlcaAsWGIbU"
DATABASE_URL='file:./db.sqlite'
BETTER_AUTH_SECRET=GO TO BETTER AUTH SITE AND GENERATE SECRET AT THEIR SETUP PAGE
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
